.log {
    height: 170px;
    color: #fff;
    background-color: #000;
    padding: 15px;
    overflow: auto;
    &.has-error {
        color: #f00;
    }
}

.forms {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    h3 {
        padding-left: 15px;
        background-color: #555;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
    }
    > div {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        > div {
            flex-direction: column;
            display: flex;
            justify-content: center;
        }
    }
    .btn {
        width: 48px;
        color: #fff;
        background: #0E9CEA;
        padding: 5px 10px;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        &:active {
            background-color: #0e87cc;
        }
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .color-muted {
        opacity: .6;
        font-size: .8em;
    }

    .form-control {
        padding: 5px 10px;
        border: 0;
        border-bottom: 1px solid #000;
        outline: none;
        font-size: 14px;
    }
}